{% extends "_layout.html" %}
{% block content %}

<div class="container container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="card bg-dark text-white">
          <div class="card-header">
            {{ cwd }}
          </div>
          <div class="card-block">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th> Name     </th>
                  <th> Modified </th>
                  <th> Size     </th>
                  <th> Type     </th>
                </tr>
              </thead>
              <tbody>

                {% for folder in dirs|sort(attribute="name") %}
                  <tr>
                    <td><a href="/b/{{ folder.relative|urlencode }}" class="folder"> <i class="fa fa-folder-o" class="label label-success"></i> {{ folder.name }} </a></td>
                    <td></td> <!-- Modified -->
                    <td></td> <!-- Size -->
                    <td></td> <!-- Type -->
                  </tr>
                {% endfor %}

                {% for file in files|sort(attribute="name") %}
                  <tr>
                    <td> <a href="/b/{{ file.filepath|urlencode }}" class="file"> <i class="fa fa-download"></i> {{ file.name }} </a> </td>
                    <td> {{ file.mtime|strftime }} </td>
                    <td> {{ file.size|data|safe }} </td>
                    <td> <span class="label label-primary"> {{ file.type }} </span> </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

{% endblock content %}
